@charset "utf-8";
/* CSS Document */

a {
	text-decoration: none;
	color: #000;
	font-family: Verdana, sans-serif;
	background-image:url(../src/icon/icon.png)
}
divv {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 120px;
	width: 200px;
	margin: auto;
	text-align: center;
}
input
{
	background-image:url(../src/icon/icon.png)
}

section[role="region"].skin-dark > header:first-child > a:not([aria-disabled="true"]):active:after